* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Din Round", sans-serif;
}



body {
    height: 100vh;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    flex-direction: column;
    gap: 30px;
}

.link {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 12px;
    font-size: 20px;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.link:hover {
    background-color: #0056b3;
}

.home {
    display: none;
}